@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --black: #000;
    --white: #c7dbc7;
    --green: rgb(18, 213, 18);
    --greenFruit: rgb(26, 90, 26);
    --font: 400;
    --line-height: 1.5rem;
}

* {
    color: var(--fontColor);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg);
}

.logo-text {
    color: rgb(60, 184, 60);
    align-items: flex-end;
    text-align: right;
}

nav {
    background-color: var(--greenFruit);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px 2px #261e1c;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul li {
    list-style-type: none;
    
}

ul li a {
    text-decoration: none;
    color: white;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
}

.btn:focus {
    outline-style: none;
}

main {
    text-align: center;
    align-items: center;
}

.cards-fruits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 25px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.fruit {
    border: 1px solid #8f8d8d;
    border-radius: 12px;
    box-shadow: 0 0 15px #000;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}

.fruit img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #8f8d8d;
}

.fruit h3 {
    margin: 10px 0;
}

.fruit span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--green);
}

.rodapep {
    margin-top: 12px;
    color: white;
}

.carrossel-container {
    border-top: 1px solid var(--fontColor);
    border-bottom: 1px solid var(--fontColor);
    max-width: 1200px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.carrossel {
    align-items: center;
    display: grid;
    padding: 25px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.slideshow {
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

.slideshow img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    animation: fade 4s infinite;
}

.left, .right {
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--btnBg);
    border-radius: 12px;
    color: var(--btnFontColor);
    border: none;
    padding: 10px;
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .cards-fruits {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .cards-fruits {
        grid-template-columns: repeat(3, 1fr);
    }

    .slideshow {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .cards-fruits {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        flex-direction: column;
    }

    ul {
        gap: 0.6rem;
    }
    .fruit img {
        width: 100%;
        height: auto; 
        object-fit: contain; 
        border-bottom: 1px solid #8f8d8d;
    }
    
}

@media (max-width: 576px) {
    ul{
        flex-direction: column;
        margin-right: 40px;
        gap: 0.6rem;
    }
    .cards-fruits {
        grid-template-columns: 1fr;
    }

    .fruit {
        max-width: 100%;
    }

    .slideshow {
        max-width: 300px;
    }
    
}

